.posts{
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    height: 60vh;
    overflow: scroll;
    width: 60%;
}

.formPost textarea{

    resize: none;

    padding-left: 5px;
    padding-top: 5px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    height: 100px;
    font-size: 16px;

    border: 2px solid black;
    border-radius: 10px;
}

.formPost button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}