nav{
    font-size: 18px;
    padding: 10px;
  
    grid-area: nav;
  
    border: 1px solid black;
    border-radius: 10px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    text-align: center;
  
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

nav a:hover{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
nav a.activeLink{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

  