.selectedPage{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;

    margin-bottom: 20px;
    text-align: center;
}

.buttonZone{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.active{
    background-color: #000 !important;
    color: #fff;
}
